<div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php">{appName}</a>
        </div>
        <div class='navbar-collapse navbar-right collapse'>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consulta <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href='index.php?action=tonerConsulta'>Toners</a></li>
                        <li class="divider"></li>
                        <li><a href='index.php?action=consulta'>Compras</a></li>
                        <li class="divider"></li>
                        <li><a href='index.php?action=retiroConsulta'>Retiros</a></li>
                        <li class="divider"></li>
                        <li><a href='index.php?action=impresoraConsulta'>Impresoras</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alta <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href='index.php?action=consulta'>Toners</a></li>
                        <li class="divider"></li>
                        <li><a href='index.php?action=consulta'>Compras</a></li>
                        <li class="divider"></li>
                        <li><a href='index.php?action=consulta'>Retiros</a></li>
                        <li class="divider"></li>
                        <li><a href='index.php?action=consulta'>Impresoras</a></li>
                    </ul>
                </li>
                <li ><a href='index.php?action=salir'>Salir</a></li>
            </ul>

        </div>
    </div>
</div>