<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <div class="col-md-3 text-center text-danger">
                <h1><i class="glyphicon glyphicon-ban-circle fa-3x"></i></h1>
            </div>
            <div class="col-md-9 text-left">
                <p>&nbsp;</p>
                <h1>ACCESO DENEGADO</h1>
                <p>Comuniquese con el administrador del sistema.</p>
            </div>
        </div>
    </div>
</div>
