<img style="botder:none;" src="http://comercial.bavosi.com.ar/imagenes/logoBavosi.png" height="50px">
<h1 style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>Bienvenido - {appName}</h1>
<h2 style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>Ingrese al siguiente link {url}</h2>
<table border="0" cellpadding="10" cellspacing="0" style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>
    <tr>
        <th style="text-align: right">USUARIO:</th>
        <th style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; text-align: left;'>{user_name}</th>
    </tr>
    <tr>
        <th style="text-align: right;">CONTRASE&Ntilde;A:</th>
        <th style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; text-align: left;'>{password}</th>
    </tr>
</table>